:root {
    --background-color: #050505;
    --light-background-color: #151515;

    --header-color: rgba(21, 21, 21, 0.5);

    --primary-color-1: #D124BD;
    --primary-color-2: #FC4A36;
    --primary-color-3: #06B8FF;
}

* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: var(--background-color);
    display: grid;
    grid-template: auto 1fr / clamp(150px, 30%, 250px) 5fr 1.5fr;
}

.small-icon {
    width: 2rem;
}

.logo {
    width: 4rem;
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    align-content: start;
    gap: 1.5rem;

    height: 100vh;
    padding: 1.5rem;

    background-color: var(--light-background-color);

    font-weight: bold;
}

.logo-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left;
}

.logo-container span {
    font-size: 1.3rem;
}

.menu-list {
    display: grid;
    gap: 0.5rem;

    padding: 0;
    padding-left: 0.5rem;

    list-style-type: none;
}

.menu-list li a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
}

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: fit-content;
    padding: 1rem 1.5rem;

    background-color: var(--header-color);
}

.header form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

input[name="search"] {
    height: 2.5rem;
    width: 20rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 100px;
    
    background-color: var(--header-color);
}

.search-button {
    height: 2.5rem;
    aspect-ratio: 1;
    border: 1px solid gray;
    border-radius: 100px;
    
    background-color: var(--header-color);
}

.profile-section {
    display: grid;
    justify-content: right;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.profile-section a {
    width: 2rem;
}

#profile-link {
    width: 2.5rem;
}

.news-section {
    background-color: #8e8e8e;
}