:root {
    --background-color: #050505;
    --light-background-color: #151515;

    --header-color: rgba(21, 21, 21, 0.5);

    --primary-color-1: #D124BD;
    --primary-color-2: #FC4A36;
    --primary-color-3: #06B8FF;
}

* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: var(--background-color);
    display: grid;
    grid-template: auto 1fr / clamp(150px, 30%, 250px) 2.5fr 1fr;
    align-items: start;
}

h2 {
    font-size: 1.3rem;
}

button:hover {
    cursor: pointer;
}

.small-icon {
    width: 2rem;
}

.logo {
    width: 4rem;
}

.sidebar {
    position: sticky;
    top: 0;
    grid-row: 1 / -1;
    display: grid;
    align-content: start;
    gap: 3rem;

    height: 100vh;
    padding: 1.5rem;

    background-color: var(--light-background-color);
    box-shadow: 4px 0 4px black;

    font-weight: bold;
}

.logo-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;

    text-decoration: none;
}

.logo-container span {
    font-size: 1.3rem;
}

.menu-list {
    display: grid;
    gap: 1rem;

    padding: 0;
    padding-left: 0.5rem;

    list-style-type: none;
}

.menu-list li a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;

    text-decoration: none;
}

.header {
    position: sticky;
    top: 0;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: fit-content;
    padding: 1rem 1.5rem;

    background-color: var(--header-color);
    backdrop-filter: blur(10px) brightness(80%);
}

.header form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

input[name="search"] {
    height: 2.5rem;
    width: 20rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 100px;
    
    background-color: var(--header-color);
}

.search-button {
    height: 2rem;
    aspect-ratio: 1;
    border: none;
    border-radius: 100px;
    
    background: none;
    background-image: url(./img/search-icon.png);
    background-size: contain;
}

.profile-section {
    display: grid;
    justify-content: right;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}

.profile-section a {
    width: 2rem;
}

#profile-link {
    border: 1px solid white;
    border-radius: 100px;
    width: 2.5rem;
}

.content-section {
    display: grid;
    align-content: start;
    gap: 1.5rem;
    padding: 1.5rem;
}

.banner {
    display: grid;
    grid-template: 1fr / auto 1fr;
    align-items: center;
    gap: 1rem;

    padding: 1rem 1.5rem;
    height: 8rem;
    border-radius: 5px;

    background: linear-gradient(120deg, #FC4A36 0%, #B521A4 35%, #6169D0 68%, #06B8FF 100%);
    box-shadow: 4px 4px 4px black;
    font-weight: bold;
}

.large-profile-picture {
    width: 4.5rem;
    border: 2px solid white;
    border-radius: 100px;
}

.welcome-message {
    font-size: 1rem;
}

.username {
    font-size: 1.3rem;
}

.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    justify-content: end;
    gap: 1rem;
}

.action-button {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5);

    font-weight: bold;
}

.action-button:active {
    filter: brightness(120%);
}

#new-button {
    background-color: var(--primary-color-1);
}

#upload-button {
    background-color: var(--primary-color-2);
}


#share-button {
    background-color: var(--primary-color-3);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project-card {
    display: grid;
    grid-template-columns: 5px 1fr;
    grid-auto-rows: 250px;

    border-radius: 5px;
    background-color: var(--light-background-color);
    box-shadow: 4px 4px 4px black;
}

.card-bar {
    border-radius: 5px 0 0 5px;
    width: 5px;
    height: 100%;
    background-color: var(--primary-color-1);
}

.card-content {
    display: grid;
    grid-template-rows: 1fr 2rem;
    gap: 1rem;
    padding: 1.5rem;
}

.card-info {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.card-links-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
    gap: 1rem;
}

.news-section {
    position: sticky;
    top: 4.5rem;
    z-index: -1;
    display: grid;
    align-content: start;
    padding: 1.5rem;
    padding-left: 0;
    gap: 1rem;
}

.news-section h2 {
    font-size: 1.2rem;
}

.news-section-card {
    background-color: var(--light-background-color);
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;

    display: grid;
    gap: 0.8rem;
    padding: 1.5rem;

    font-size: 0.8rem;
}

.announcement-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 4px;
}

.divider {
    border-top: 1px solid gray;
}

.user-profile-picture {
    border: 1px solid white;
    border-radius: 100px;
    width: 2.5rem;
}

.trending-card {
    gap: 1rem;
}

.trending-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.user-project {
    filter: brightness(60%);
}